.messagebox {
  flex: 4 0 500px;
  height: 250px;
  background-color: black;
  border: 5px solid #aaa;
  border-radius: 10px;
}

.messagebox textarea {
  font-family: 'Courier New';
  background-color: black;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  resize: none;
  overflow-y: scroll;
}
