.stats-box {
  flex: 1 0 250px;
  height: 250px;
  background-color: black;
  border: 5px solid #aaa;
  border-radius: 10px;
  font-family: 'Courier New';
  margin-right: 5px;
}

.stats-box ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 10px 0 0 0;
}

.stats-box li {
  padding: 2px;
}
