html {
  height: 100%;
  margin: 0px;
}

body {
  background-color: black;
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
}

.roguelike {
  display: flex;
  flex-flow: column;
  height: 100%;
}
