.stats-box {
  width: 250px;
  height: 250px;
  background-color: black;
  border: 5px solid #aaa;
  border-radius: 10px;
}

.stats-box ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 30px 0 0 0;
}

.stats-box li {
  padding: 2px;
}
