.tile {
  font-family: 'Courier New';
  font-size: 30;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.tile-wall {
  color: white;
}

.tile-open {
  color: white;
}

.tile-player {
  color: green;
}
