.tile {
  background-color: black;
  font-family: 'Courier New';
  font-size: 30;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.tile-unexplored {
  background-color: #1a1a1a;
}

.tile-wall {
  color: #cd853f;
}

.tile-open {
  color: white;
}

.tile-player {
  color: green;
}

.tile-enemy {
  color: red;
}
