.tile {
  background-color: black;
  font-family: 'Courier New';
  font-size: 30;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.unexplored {
  background-color: #1a1a1a;
}

.wall {
  color: #cd853f;
}

.open {
  color: white;
}

.player {
  color: green;
}

.enemy {
  color: orange;
}

.boss {
  color: red;
}

.weapon {
  color: yellow;
}

.potion {
  color: blue;
}
